# CONFIG_PATH="./config.yml"

# ENV_COUNT=1
# STEP_COUNT=10_000_000
# PREPARE_COUNT=10_000
# BATCH_SIZE=512
# TRAIN_INTERVAL=128
# GRADIENT_COUNT=16

# CHECKPOINT_PATH=
# CHECKPOINT_INTERVAL=10_000

# UNITY_PATH="../builds/Train/Train.exe"
# UNITY_SERVER_PATH="../builds/TrainServer/TrainServer.exe"

# LOG_INTERVAL=10
