# CHECKPOINT_INTERVAL=1_000
# LOG_INTERVAL=10

# STEP_COUNT=1_000_000
# LEARNING_STARTS=10_000
# ENV_COUNT=1

# CHECKPOINT_PATH=
# CONFIG_PATH="./config.yml"
# UNITY_PATH="../builds/Train/Train.exe"
# UNITY_SERVER_PATH="../builds/TrainServer/TrainServer.exe"
