# CHECKPOINT_INTERVAL=1_000
# LOG_INTERVAL=10

# STEP_COUNT=1_000_000
# ENV_COUNT=1

# CHECKPOINT_PATH=
# CONFIG_PATH="./config.yml"
# UNITY_PATH="../builds/Test/Test.exe"
# UNITY_SERVER_PATH="../builds/TestServer/TestServer.exe"
