policy_kwargs:
    features_extractor_class: FeatureExtractor
    features_extractor_kwargs:
        navigation_kwargs:
            d_model: 16
            num_layers: 1
            max_token: 3
            nhead: 2
        proprioception_kwargs:
            hidden_dims: [256, 256, 128]
        terrain_kwargs:
            hidden_dims: [128, 64, 32]

        navigation_ratio: 0.0
        terrain_ratio: 0.0
        proprioception_ratio: 1.0
    net_arch:
        pi: [256, 256]
        qf: [512, 512]

unity_kwargs:
    navigation_sensor__max_token: 3

    terrain__resolution: 8

    reward__stay_success_reward: 1.0
    reward__staying_reward: 0.75
    reward__stay_success_threshold: 5.0

    reward__distance_penalty_multiplier: 0.05
    reward__jitter_penalty_multiplier: 0.01
    reward__energy_penalty_multiplier: 0.005
    reward__upright_reward_multiplier: 0.5
    reward__height_match_reward_multiplier: 0.25
    reward__direction_reward_multiplier: 0.5

    phase__a_ratio: 1.0 # Agent try to stand up and stabilize (proprioception)
    phase__b_ratio: 0.0 # Agent try to move towards the target (navigation)
    phase__c_ratio: 0.0 # Phase B with Passion
    phase__d_ratio: 0.0 # Agent try to overcome the terrain (terrain)
    phase__e_ratio: 0.0 # Phase D with Passion

    normalization__expected_max_speed: 10.0
    normalization__expected_max_distance: 10.0
    normalization__expected_max_thickness: 2.0
    normalization__expected_max_height: 2.0
