root = true

[*]
charset = utf-8
end_of_line = crlf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
spelling_languages = en-us

[*.py]
indent_size = 4

[*.{json,yaml,yml,md,js,html,css}]
indent_size = 2